<header>
  <h1>Hello! I am the second best webpage on this site.</h1>

</header>

<body>
  <h4>Maybe when I am older, I will be better, and I can become the homepage.</h4>
  <form action="/">
    <input type="submit"
    value="Click Here To Go Back To The Home Page"/>
  </form>

  <form action="/post_request_trick">
    Fill In This Stupid Box:<br>
      <input type="text" name="form_value"><br>
      <input type="submit" value='Send the Form to the backend!'/>
  </form>

  <h3>Goodbye.</h3>
</body>
